@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  height: 100vh;

  .Pocket-Notes {
    height: 100vh;
    flex: 0.25;
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: Roboto;
    background-color: rgb(255, 255, 255);
    position: relative;

    .Heading {
      color: #000;
      font-size: 35px;
      letter-spacing: 0.7px;
      margin-top: 5rem;
      text-align: center;
      margin-bottom: 5rem;
      flex: 0 0 auto;
    }

    .Add-Heading {
      position: absolute;
      bottom: 30px;
      right: 30px;
      width: 70px;
      height: 70px;
      background-color: #16008B;
      border-radius: 50%;
      border: 2px solid #16008B;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      
      .sign {
        color: white;
        font-size: 60px;
      }
    }
  }

  .Notes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 0.75;
    background: #dae5f5;

    .Blank-Display {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .Initial-Image {
        background-image: url("./assets/image-removebg-preview\ 1.png");
        background-size: contain;
        background-repeat: no-repeat;
      }

      #text1 {
        color: #000;
        font-family: Roboto;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
      }

      #text2,
      #text3,
      #text4 {
        color: #292929;
        font-family: Roboto;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; 
        letter-spacing: 0.44px;
      }

      #text4 {
        position: absolute;
        bottom: 12px;
      }
    }

    .Notelist-Header {
      background-color: #001f8b;
      width: 100%;
      height: 98px;
      display: flex;
      align-items: center;

      .Header-Initials {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffff;
        font-family: Roboto;
        font-weight: 500;
        font-size: 1.5rem; 
        letter-spacing: 0.482px;
        margin-left: 1rem;
      }

      .Header-Text {
        color: #ffffff;
        font-family: Roboto;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 0.48px;
        margin-left: 1.3rem;
      }
    }

    .Notelist-Input {
      display: flex;
      justify-content: center;
      align-content: center;
      background-color: #001f8b;
      width: 100%;
      height: 30%;
      

      .Input-Area {
        justify-self: center;
        align-self: center;
        height: 84%;
        width: 96%;
        background-color: #fff;
        border-radius: 10px;
        padding: 0.6rem 1.5rem;
        box-sizing: border-box;

        textarea {
          border-radius: 10px;
          width: 97%;
          height: 100%;
          box-sizing: border-box;
          resize: none;
          border: none;
          outline: none;
          font-size: 25px;

          &::placeholder {
            font-family: Roboto;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.596px;
          }
        }
        .Submit-Note {
          cursor: pointer;
          border: none;
          background: none;
          position: absolute;
          bottom: 30px;
        }
      }
    }
  }

  .NewHeadingModal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
  }

  .ModalContent {
    background-color: #ffff;
    width: 42rem;
    height: 18rem;
    flex-shrink: 0;
    border-radius: 10px;
    color: #000;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    line-height: 161%; 
    letter-spacing: 1.015px;
    display: flex;
    flex-direction: column;

    h3 {
      margin-left: 6%;
      margin-top: 5%;
    }
    .HeadingName {
      margin-left: 6%;
      margin-top: 5%;

      input {
        font-size: 23px;
        margin-left: 5%;
        width: 24rem;
        height: 3rem;
        border-radius: 22px;
        border: 2px solid #ccc;
        background: #fff;
        padding-left: 10px;

        &::placeholder {
          color: #979797;
          font-size: 23px;
        }
      }
    }

    .HeadingColor {
      margin-left: 6%;
      margin-top: 1%;
      
    }

    button {
      width: 9rem;
      height: 2.5rem;
      align-self: flex-end;
      margin: .5rem;
      margin-top: 1rem;
      border-radius: 11px;
      background: #001f8b;
      color: #fff;
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 165%; 
      letter-spacing: 0.7px;
    }

    
  }
}
